/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-image: url(../images/background.jpg); 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


  font-family:'Poppins', sans-serif;;
 
}



img{
  display: block;
  margin: 0 auto;
  height: 200px;
}

.playerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: 		#9370DB;
  padding: 1em 0;
  border-radius: 30px;
  width: 40%;
  height: 50em;

  
}


.stats-box {
  display: flex;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
  gap: 5%;
}

#showDescriptionButton , #showStatsButton {
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}


#description ,#closeButton{
  position: absolute;
  
  top: 10%;
  width: 75%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #9370DB;
}

#description {
  margin-top: 50px;
}

#closeButton {
  float: right;
  box-shadow: 1px #ccc;
}



.stats-box h5, .stats-box h6 {
  margin: 2px;
  padding: 3px;
  text-align: center;
  font-size: 15px;

}



#stopShowingStats {
  height: 25px;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}


input {
  border: none;
  outline: none;
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  height:55px;
  background-color: white;
  border-radius: 8px;
}


button {
  background-color: #c8b7ed;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 8px;
  height:55px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
