/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-image: url(../images/background.jpg); 
  height: 85em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Poppins', sans-serif;;
 
}

#logo {
  display: flex;
  padding: 0;
  display: block;
  margin: 0 auto;
  height: 200px;
}


#playerPicture{
  display: block;
  margin: 0 auto;
  height: 220px;
}

.playerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(78,59,124);
  
  border-radius: 30px;
  width: 50%;
  height: 65em;
  gap: 10px;
  min-width: 500px;
 
}


.stats-box {
  display: flex;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
  
}

#showDescriptionButton , #showStatsButton {
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}


#description ,#closeButton{
  position: absolute;

  top: 50%;
  width: 75%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  background-color: rgb(103,113,196);
}

#description {
  margin-top: 50px;
}

#closeButton {
  float: right;
  box-shadow: 1px #ccc;
}



.stats-box h5, .stats-box h6 {
  margin: 2px;
  padding: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: #c8b7ed;
  gap: 10px
}

.positionAndTeam, #fullName {
  color: #c8b7ed;
}

.positionAndTeam {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  gap: 15px;
}

#stopShowingStats {
  height: 25px;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}



input {
  border: none;
  outline: none;
  width: 100%;
  
  padding: 10px 15px;
  height:55px;
  background-color: white;
  border-radius: 8px;
}


button {
  background-color: #c8b7ed;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 8px;
  height:55px;
}

.buttonAndInput {
  width: 85%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
